@import './_variables';

.field {
  margin-bottom: 1rem;

  &__label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__hint {
    margin-bottom: 0;
    margin-top: 0.25rem;
    color: $field-hint-color;
  }

  &__error {
    margin-bottom: 0;
    margin-top: 0.25rem;
    color: $field-error-color;
  }

  &__required {
    color: $field-required-color;
  }
}
