@import './_variables';

.field {
  margin-bottom: 1rem;

  &__label {
    font-weight: bold;
  }
}

.field-hint {
  margin: 0;
  color: $field-hint-color;
}

.field-error {
  margin: 0;
  color: $field-error-color;
}
