//
// Common
// ========================================

$primary: #2980b9 !default;
$black: #000000 !default;
$white: #ffffff !default;
$gray-light: #e1e1e1 !default;
$gray-dark: #606c76 !default;
$border-radius: 0.4rem !default;

//
// Controls (input, select, textarea, etc.)
// ========================================

$control-bg: $white !default;
$control-border: $gray-light !default;
$control-border-radius: $border-radius !default;

//
// Field
// ========================================

$field-required-color: #ef5350 !default;
$field-hint-color: #9e9e9e !default;
$field-error-color: #ef5350 !default;

//
// Input
// ========================================

$input-bg: $control-bg !default;
$input-border: $control-border !default;
$input-border-radius: $control-border-radius !default;

//
// Select
// ========================================

$select-bg: $control-bg !default;
$select-border: $control-border !default;
$select-border-radius: $control-border-radius !default;

//
// Textarea
// ========================================

$textarea-bg: $control-bg !default;
$textarea-border: $control-border !default;
$textarea-border-radius: $control-border-radius !default;
