@import '@vue-toolkit/common/sass/components/_variables';

//
// Common
// ========================================

$auth-max-width: 450px;
$auth-form-border-radius: $border-radius !default;
$auth-form-border: $gray-light !default;
