//
// Common
// ========================================

$primary: #2980b9 !default;
$black: #000000 !default;
$white: #ffffff !default;
$gray-light: #e1e1e1 !default;
$gray-dark: #606c76 !default;
$border-radius: 0.4rem !default;

//
// Common
// ========================================

$auth-max-width: 450px;
$auth-form-border-radius: $border-radius !default;
$auth-form-border: $gray-light !default;
