@import './_variables';

.accordion-item {
  margin-bottom: 0.25rem;

  &__button {
    align-items: center;
    background: none;
    border: 1px solid $gray;
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 1rem;
    text-align: left;
    width: 100%;
  }

  &__icon {
    fill: #212529;
    height: 1rem;
    transform: rotate(0deg);
    transition: 0.3s transform;
    width: 1rem;

    &--up {
      transform: rotate(180deg);
    }
  }

  &__title {
    flex: 1 0;
    margin: 0;
  }

  &__content {
    border-color: $gray;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1rem;
  }
}
