@use "sass:math";
@import './_variables';

.chip {
  align-items: center;
  border-radius: math.div($chip-height, 2);
  border: 1px solid $gray;
  display: inline-flex;
  height: $chip-height;

  &__content {
    padding: 0 1rem;
  }

  &__remove {
    border-radius: 50%;
    border: 1px solid $gray;
    color: $gray;
    cursor: pointer;
    height: $chip-remove-size;
    line-height: 1;
    margin-right: 1rem;
    margin: 0 0.5rem 0 -0.5rem;
    outline: none;
    padding: 0;
    text-align: center;
    width: $chip-remove-size;

    &:hover,
    &:focus {
      background-color: $gray;
    }
  }
}
