@import './_variables';

.popover {
  position: relative;

  &__content {
    background-color: $popover-bg;
    border-radius: $popover-border-radius;
    border: 1px solid $popover-border;
    left: 0;
    position: absolute;
    top: 100%;
  }
}
