@import './_variables';

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.table {
  border-collapse: collapse;
  width: 100%;

  &__header,
  &__cell {
    border: 1px solid $table-border;
    padding: 0.5rem;
  }
}
