//
// Colors
// ========================================

$gray: #d1d1d1 !default;

//
// Chips
// ========================================

$chip-height: 32px !default;
$chip-remove-size: 18px !default;

//
// Dialog
// ========================================

$dialog-backdrop-bg: rgba(0, 0, 0, 0.5) !default;
$modal-bg: #fff !default;

//
// Popover
// ========================================

$popover-bg: #fff !default;
